@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.panel {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    flex: 0.5;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    cursor: pointer;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 10px;
    opacity: 0;
}

.panel.active {
    flex:4;
}

.panel.panel.active h3 {
    opacity: 1;
}

@media (max-width: 600px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-child(4),
    .panel:nth-child(5) {
      display: none;
    }
  }